.cardssection-container {
  min-height: 100vh;
}
.cardssection-cardssection {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: 942px;
  display: flex;
  padding: 96px 0;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
.cardssection-container1 {
  width: 1280px;
  height: 750px;
  display: flex;
  padding: 0 32px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cardssection-topcont {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: 64px;
  justify-content: space-between;
}
.cardssection-headingandsupportingtext {
  width: 768px;
  height: 94;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cardssection-heading {
  color: #101828;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 20px;
}
.cardssection-supptext {
  color: #475467;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.cardssection-actions {
  display: flex;
  position: relative;
  align-items: flex-start;
}
.cardssection-button {
  width: 120px;
  height: 48px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  border-color: rgba(126, 86, 216, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: #7F56D9;
}
.cardssection-exploreall {
  color: #FFFFFF;
  width: 80px;
  height: 24px;
  align-self: auto;
  text-align: left;
  line-height: 24px;
}
.cardssection-cards-cont {
  width: 2880px;
  height: 592px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.cardssection-card-group {
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: 32px;
}
.cardssection-layers-card {
  width: 384px;
  height: 504px;
  display: flex;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #7F56D9;
}
.cardssection-textandaction {
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardssection-companyandquote {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.cardssection-company-layers {
  color: #FFFFFF;
  height: 38px;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 16px;
}
.cardssection-quotetext {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.cardssection-button1 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cardssection-readcase {
  color: #FFFFFF;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
  margin-bottom: 0;
}
.cardssection-upright {
  width: 8.33px;
  height: 8.33px;
  position: relative;
}
.cardssection-layerslogo {
  top: 32px;
  left: 32px;
  width: 146px;
  height: 48px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
}
.cardssection-sisphus-card {
  width: 384px;
  height: 504px;
  display: flex;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #039855;
}
.cardssection-textandaction1 {
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardssection-companyandquote1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.cardssection-company-sis {
  color: #FFFFFF;
  height: 38px;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 16px;
}
.cardssection-quote {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
  margin-right: 0;
  margin-bottom: 0;
}
.cardssection-button2 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cardssection-readcase1 {
  color: #FFFFFF;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
}
.cardssection-upright1 {
  width: 8.33px;
  height: 8.33px;
  position: relative;
}
.cardssection-sisyphuslogo {
  top: 32px;
  left: 32px;
  width: 169px;
  height: 48px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.cardssection-circooles-card {
  width: 384px;
  height: 504px;
  display: flex;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #1570EF;
}
.cardssection-textandaction2 {
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardssection-companyandquote2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 32px;
  flex-direction: column;
}
.cardssection-company {
  color: #FFFFFF;
  height: 38px;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 16px;
}
.cardssection-quote1 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.cardssection-button3 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cardssection-text11 {
  color: #FFFFFF;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
}
.cardssection-upright2 {
  width: 8.33px;
  height: 8.33px;
  position: relative;
}
.cardssection-circooleslogo {
  top: 32px;
  left: 32px;
  width: 183px;
  height: 48px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
}
.cardssection-catalog-card {
  width: 384px;
  height: 504px;
  display: flex;
  padding: 24px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #444CE7;
}
.cardssection-cataloglogo {
  top: 32px;
  left: 32px;
  width: 160px;
  height: 48px;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
}
.cardssection-textandaction3 {
  display: flex;
  padding: 32px 24px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardssection-companyandquote3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: 32px;
  flex-direction: column;
}
.cardssection-company1 {
  color: #FFFFFF;
  height: 38px;
  align-self: stretch;
  text-align: left;
  line-height: 38px;
  margin-bottom: 16px;
}
.cardssection-quote2 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.cardssection-button4 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.cardssection-readcase2 {
  color: #FFFFFF;
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 24px;
  margin-right: 8px;
}
.cardssection-arrows {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.cardssection-leftarrow {
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 32px;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.cardssection-left {
  width: 100px;
  object-fit: cover;
}
.cardssection-rightarrow {
  width: 56px;
  height: 56px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(234, 236, 240, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 28px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.cardssection-right {
  width: 100px;
  object-fit: cover;
}
