.metricssection-container {
  min-height: 100vh;
}
.metricssection-metricssection {
  width: 100%;
  height: auto;
  display: flex;
  padding: 96px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: #53389E;
}
.metricssection-top-cont {
  width: 1280px;
  display: flex;
  padding: 0 32px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.metricssection-content {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-headandsuprttext {
  width: 768px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-headand-sub {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 20px;
  flex-direction: column;
}
.metricssection-subtext {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
}
.metricssection-headtext {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: left;
  font-weight: 600;
  line-height: 44px;
}
.metricssection-text02 {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 30px;
}
.metricssection-down-cont {
  width: 1280px;
  display: flex;
  padding: 0 32px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.metricssection-content1 {
  width: 560px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 96px;
  flex-direction: column;
}
.metricssection-row {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 64px;
}
.metricssection-frame-metricitem400 {
  width: 264px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 32px;
  flex-direction: column;
}
.metricssection-numberandtext {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-num {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 12px;
}
.metricssection-textandsupportingtext {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-text05 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}
.metricssection-suptext {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}
.metricssection-frame-metricitem600 {
  width: 264px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-numberandtext1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-num1 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 12px;
}
.metricssection-textandsupportingtext1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-text09 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}
.metricssection-suptext1 {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.metricssection-row1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.metricssection-frame-metricitem10k {
  width: 264px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 32px;
  flex-direction: column;
}
.metricssection-numberandtext2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-num2 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 12px;
}
.metricssection-textandsupportingtext2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-text13 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}
.metricssection-suptext2 {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.metricssection-frame-metricitem200 {
  width: 264px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-numberandtext3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-num3 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 72px;
  margin-bottom: 12px;
}
.metricssection-textandsupportingtext3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.metricssection-text17 {
  color: #FFFFFF;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}
.metricssection-suptext3 {
  color: #E9D7FE;
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 24px;
}
.metricssection-image {
  width: 560px;
  height: 560px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.metricssection-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
